<h2>Database Status</h2>
<table>
  <tr>
    <th>collection</th>
    <th>count</th>
  </tr>
  <tr>
    <td>tweets</td>
    <td><%= @tweets_count %></td>
  </tr>
  <tr>
    <td>users</td>
    <td><%= @users_count %></td>
  </tr>
</table>
